:root {
    --cor01: #25303e;
    --cor02: #59C4C5;
    --cor03: #F6F6F6;
    --cor04: #83969f;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    overflow-x: hidden;
}
header {
    img {
        width: 150px;
    }
}

main {
    .sec01 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        color: white;
        img {
            display: none;
        }
        h2 {
            margin: 20px 0;
            font-weight: normal;
        }
        p {
            margin-bottom: 20px;
        }
        button {
            background-color: var(--cor02);
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
        }
        button:hover {
            background-color: #50acad;
        }
    }

    .sec02 {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        gap: 10px;
        padding: 20px;
        background-color: var(--cor03);
        svg, h3 {
            color: var(--cor01);
        }
        div {
            text-align: center;
            padding: 10px;
            h3 {
                margin: 10px;
            }
        }
    }

    .sec03 {
        padding: 20px;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(12, 1fr);
        div {
            margin-bottom: 50px;
            h3 {
                font-weight: lighter;
                margin: 10px 0 10px 0;
            }
        }
        img {
            width: 100%;
        }
    }
}

footer {
    width: 100%;
    background-color: var(--cor01);
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    color: var(--cor04);
    a {
        text-decoration: none;
        color: var(--cor04);
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        nav {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: var(--cor01);
            width: 100%;
            a {
                width: 100%;
                text-decoration: none;
                color: white;
                padding: 10px;
                text-align: center;
            }
            a:hover {
                background-color: white;
                color: var(--cor01);
            }
            .opcoes, #btn-closed {
                display: none;
            }
        }
    }

    Main {
        .sec01 {
            h2 {
                color: var(--cor01);  
            }
            p {
                color: var(--cor01);
            }
        }

        .sec02 {
            div {
                grid-column: 12 span;
            }
        }

        .sec03 {
            div {
                grid-column: 12 span;
            }
        }
    }
    
    
}

@media screen and (min-width: 601px) and (max-width: 992px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        nav a {
            padding: 5px;
            text-decoration: none;
            color: var(--cor01);
        }
        nav a:hover {
            background-color: var(--cor01);
            color: white;
            border-radius: 3px;
        }
        #btn-open, #btn-closed {
            display: none;
        }
    }
    
    main {
        .sec01 {
            background-color: var(--cor01);
            img {
                display: block;
                width: 50px;
            }
        }

        .sec02 {
            div {
                grid-column: 6 span;
            }
        }

        .sec03 {
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 12 span;
                img {
                    width: 50%;
                    margin-right: 10px;
                }
                span {
                    height: 100%;
                    h3 {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 993px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: start;
        flex-direction: column;
        img {
            display: none;
        }
        nav {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--cor01);
            height: 80px;
            #btn-open, #btn-closed {
                display: none;
            }
            a {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 1.5rem;
                text-decoration: none;
                color: white;
                width: 25%;
                height: 100%;
                text-align: center;
            }
            a:hover {
                background-color: white;
                color: var(--cor01);
                border-radius: 3px;
            }
        }
    }

    main {
        .sec01 {
            background-image: linear-gradient(transparent, var(--cor01)), url(images/hotel.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;
            height: 400px;
            display: flex;
            justify-content: end;
        }

        .sec02 {
            width: 80%;
            margin: auto;
            background-color: white;
            margin-bottom: 50px;
            div {
                grid-column: 3 span;
            }
        }

        .sec03 {
            width: 80%;
            margin: auto;
            div {
                display: flex;
                justify-content: center;
                align-items: center;
                grid-column: 6 span;
                img {
                    width: 50%;
                    margin-right: 10px;
                }
                span {
                    height: 100%;
                }
            }

        }
    }
}